* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 400;
}

p {
  font-weight: 300;
}

nav {
  border-bottom: 1px solid #e6e6e6;
  padding: 1% 6%;
}

.main {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  top: 20%;
  left: 6%;
  width: 37%;
  padding: 3%;
  background: rgba(245, 245, 245, 1);
  border-radius: 5px;
}

.text-container h1 {
  font-size: 42px;
  margin-bottom: 10px;
  line-height: 45px;
}

.text-container > p {
  font-size: 20px;
}

.logo-container h1 {
  font-weight: 300;
}

.img-container {
  top: 7%;
  right: 6%;
  height: auto;
  width: 44%;
}

.img {
  height: auto;
  width: 100%;
}

.email-input {
  width: 100%;
  border: 1px solid black;
  height: 45px;
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  font-size: 16px;
  margin: 1rem 0rem;
}

.submit {
  background: #fbfe83;
  border-radius: 3px;
  height: 45px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
}

/* Media queries */

@media all and (max-width: 1300px) {
  .img-container {
    top: 15%;
    right: 6%;
    height: auto;
    width: 44%;
  }
  .text-container {
    top: 20%;
    left: 6%;
    width: 37%;
    padding: 3%;
    background: rgba(245, 245, 245, 1);
    border-radius: 5px;
  }
}

@media all and (max-width: 1200px) {
  .img-container {
    top: 20%;
    right: 6%;
    height: auto;
    width: 44%;
  }
  .text-container {
    top: 20%;
    left: 6%;
    width: 37%;
    padding: 3%;
    background: rgba(245, 245, 245, 1);
    border-radius: 5px;
  }
}

@media all and (max-width: 1000px) {
  .img-container {
    top: 30%;
    right: 6%;
    height: auto;
  }
  .text-container {
    top: 20%;
    left: 6%;
    width: 37%;
    padding: 3%;
    background: rgba(245, 245, 245, 1);
    border-radius: 5px;
  }
}

@media all and (max-width: 800px) {
  .img-container {
    top: 5%;
    right: 25%;
    width: 60%;
    min-width: 300px;
  }
  .text-container {
    top: 50%;
    left: 14%;
    width: 70%;
    padding: 5%;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 580px) {
  .img-container {
    top: 5%;
    right: 25%;
    width: 60%;
    min-width: 300px;
  }
  .text-container {
    top: 45%;
    left: 14%;
    width: 70%;
    padding: 5%;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 500px) {
  .img-container {
    top: 5%;
    right: 15%;
    width: 70%;
    min-width: 300px;
  }
  .text-container {
    top: 45%;
    left: 14%;
    width: 70%;
    padding: 5%;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 380px) {
  .img-container {
    top: 5%;
    right: 2%;
    width: 95%;
    min-width: 300px;
  }
  .text-container {
    top: 40%;
    left: 5%;
    width: 90%;
    padding: 5%;
    margin-bottom: 20px;
  }
}
